@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

:root {
	--primary-purple: hsl(259, 100%, 64%);
	--primary-light-red: hsl(0, 100%, 67%);

	--neutral-white: hsl(0, 0%, 100%);
	--neutral-off-white: hsl(0, 0%, 94%);
	--neutral-light-grey: hsl(0, 0%, 86%);
	--neutral-smokey-grey: hsl(0, 1%, 44%);
	--neutral-off-black: hsl(0, 0%, 8%);

	--ff-family: "Poppins", sans-serif;

	--fw-300: 300;
	--fw-400: 400;
	--fw-700: 700;
	--fw-800: 800;

	--fs-200: 0.55rem;
	--fs-300: 0.65rem;
	--fs-400: 1rem;
	--fs-500: 1.25rem;
	--fs-600: 2rem;
	--fs-700: 2.5rem;
	--fs-800: 3rem;
	--fs-900: 4rem;

	--margin: 1rem;
	--padding: 2.5rem;
	--right-bottom-radius: 8rem;
	--border-radius: 1rem;
}

/*--------------------------*/
/*  Reset                   */
/*--------------------------*/

/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	background-color: var(--neutral-off-white);
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	font-family: var(--ff-family);
	font-size: var(--fs-400);
	font-weight: var(--fw-300);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.agecalculator-container {
	background-color: var(--neutral-white);
	width: 35rem;
	padding: var(--padding);
	border-radius: var(--border-radius);
	border-bottom-right-radius: var(--right-bottom-radius);
	margin: 2rem;
}

.input-section {
	display: grid;
	width: 80%;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

.label-text {
	font-size: var(--fs-300);
	color: var(--neutral-smokey-grey);
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	display: block;
}
.input-box {
	width: 7rem;
	border: 0.07rem solid var(--neutral-light-grey);
	outline: none;
	border-radius: 0.35rem;
	font-size: var(--fs-500);
	font-weight: 700;
	padding-inline: 0.75rem;
	padding-block: 1rem;
	margin-block: 0.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
.input-box:focus {
	border: 0.07rem solid var(--primary-purple);
}

::placeholder {
	color: hsl(0, 1%, 44%);
	font-weight: 800;
	letter-spacing: 0.05em;
}

.error {
	font-size: var(--fs-300);
	color: var(--primary-light-red);
	font-style: italic;
}

.button-container {
	position: relative;
}

.line {
	/* position: absolute;
	top: 2rem;
	width: 90%;
	height: 0.1rem;
	background-color: var(--neutral-light-grey);
	display: flex; */
	margin-top: 2rem;
	border: 1px solid var(--neutral-light-grey);
	position: relative;
}
.button {
	position: absolute;
	right: 0;
	background-color: var(--primary-purple);
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 0;

	transform: translate(0%, -50%);
}

.button:hover,
.button:focus-visible {
	background-color: var(--neutral-off-black);
}
svg {
	width: 1.5rem;
	cursor: pointer;
}

.agecalculator-output-section {
	margin-top: 4rem;
}

h1 {
	font-size: var(--fs-900);
	font-weight: var(--fw-800);
	line-height: 4.5rem;
	font-style: italic;
}

.purple-color {
	color: var(--primary-purple);
	letter-spacing: 0.5rem;
}

@media screen and (max-width: 650px) {
	:root {
		--right-bottom-radius: 6rem;
	}
	.agecalculator-container {
		width: auto;
	}
	.input-section {
		gap: 0.3rem;
		width: 100%;
	}
	.input-box {
		width: 5.75rem;
	}
	.error {
		font-size: var(--fs-200);
	}
	.line {
		/* position: absolute;
		top: 2.5rem;
		width: 100%; */

		/* margin-top: 4em;
		border: 1px solid hsl(0, 0%, 86%);
		position: relative; */

		margin-top: 3em;
	}
	.button {
		position: absolute;

		transform: translate(-175%, -50%);
	}

	.agecalculator-output-section {
		margin-top: 3.5rem;
	}

	h1 {
		font-size: var(--fs-800);
		line-height: 3.5rem;
	}
}
